body {
  background-color: #F7B617;
  margin: 0px;
  max-height: 100vh;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

ul li a {
  color: white;
}

ul li a:hover {
  text-decoration: none;
  color: grey;
}

p {
  font-size: 20px;
}

.background-taxi {
  height: 700px;
  width: 100%;
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 50% 92%;
}
.container-height{
}
.container-2{
  height: 600px;
}
.container-color{
  background-color: #F7B617;
  height: 407px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.container-lines{
  display: flex;
}
.line{
  border: 1px solid white;
  width: 125px;
}
.background-driver {
  height: 500px;
  width: 100%;
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: 50% 48%;
}

.background-map{
  height: 700px;
  /* background-color: white; */
}
.background-footer{
  background-color: rgb(43, 43, 43);
  height: 600px;
}
.border{
  height: 400px;
}
.driver-box{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}

.form-control{
  background-color: transparent;
}
.container-form{
  align-self: center;
}
.container-map{
  align-self: center;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  .links-1, .links-2{
    line-height: 2.5;
    padding: 20px;
  }
